# 如果要從更高的目錄繼承 .editorconfig 設定,請移除以下行
root = true

# 針對 Dtos 資料夾下的所有 C# 檔案
[**/Dtos/*.cs]
dotnet_naming_rule.dto_suffix.severity = error
dotnet_naming_rule.dto_suffix.symbols = dto_symbols
dotnet_naming_rule.dto_suffix.style = dto_style

dotnet_naming_symbols.dto_symbols.applicable_kinds = class, struct
dotnet_naming_symbols.dto_symbols.applicable_accessibilities = *

dotnet_naming_style.dto_style.required_suffix = DTO
dotnet_naming_style.dto_style.capitalization = pascal_case