@model PawsPort.Models.Pet

@{
    ViewData["Title"] = "Create";
}

<h1>新增資料</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../Pet/List">寵物資料一覽</a></li>
        <li class="breadcrumb-item active" aria-current="page">新增資料</li>
    </ol>
</nav>

<h4>寵物</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="SpeciesId" class="control-label"></label>
                <input asp-for="SpeciesId" class="form-control" />
                <span asp-validation-for="SpeciesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoatColor" class="control-label"></label>
                <input asp-for="CoatColor" class="form-control" />
                <span asp-validation-for="CoatColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentStatus" class="control-label"></label>
                <input asp-for="CurrentStatus" class="form-control" />
                <span asp-validation-for="CurrentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BehavioralTraits" class="control-label"></label>
                <input asp-for="BehavioralTraits" class="form-control" />
                <span asp-validation-for="BehavioralTraits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsHighMaintenance" class="control-label"></label>
                <input asp-for="IsHighMaintenance" class="form-control" />
                <span asp-validation-for="IsHighMaintenance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDesex" class="control-label"></label>
                <input asp-for="IsDesex" class="form-control" />
                <span asp-validation-for="IsDesex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="建立新資料" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">取消</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
