@model PawsPort.Models.ArticleWrap

@{
    ViewData["Title"] = "CreateArticle";
}

<h1>新增貼文</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateArticle" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* <div class="form-group">
                <label asp-for="ArticleId" class="control-label"></label>
                <input type="hidden" asp-for="ArticleId" class="form-control" />
                <span asp-validation-for="ArticleId" class="text-danger"></span>
            </div>   *@

            @* <div class="form-group">
                <label asp-for="CreateAt" class="control-label"></label>
                <input asp-for="CreateAt" class="form-control" />
                <span asp-validation-for="CreateAt" class="text-danger"></span>
            </div> *@

            @* <div class="form-group">
                <label asp-for="LastEditTime" class="control-label"></label>
                <input asp-for="LastEditTime" class="form-control" />
                <span asp-validation-for="LastEditTime" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ViewCount" class="control-label"></label>
                <input asp-for="ViewCount" class="form-control" />
                <span asp-validation-for="ViewCount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ReportedCount" class="control-label"></label>
                <input asp-for="ReportedCount" class="form-control" />
                <span asp-validation-for="ReportedCount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastReported" class="control-label"></label>
                <input asp-for="LastReported" class="form-control" />
                <span asp-validation-for="LastReported" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EventStartDate" class="control-label"></label>
                <input asp-for="EventStartDate" class="form-control" />
                <span asp-validation-for="EventStartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EventEndDate" class="control-label"></label>
                <input asp-for="EventEndDate" class="form-control" />
                <span asp-validation-for="EventEndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EventLocation" class="control-label"></label>
                <input asp-for="EventLocation" class="form-control" />
                <span asp-validation-for="EventLocation" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="hidden" class="form-check-input" asp-for="IsExist" /> @Html.DisplayNameFor(model => model.IsExist)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <label>選擇圖片 (可多選)</label>
            @* multiple 屬性讓使用者可以一次選好幾張圖 *@
            <input type="file" asp-for="ImageFiles" class="form-control" multiple />

            <div class="form-group">
                <input type="submit" value="新增貼文" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ArticleList">取消新增</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
