@model PawsPort.ViewModels.AdoptionRecordViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>新增領養資料</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../AdoptionRecord/List">領養紀錄</a></li>
        <li class="breadcrumb-item active" aria-current="page">新增領養資料</li>
    </ol>
</nav>

<h4>AdoptionRecordViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdoptionId" class="control-label"></label>
                <input asp-for="AdoptionId" class="form-control" />
                <span asp-validation-for="AdoptionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetId" class="control-label"></label>
                <input asp-for="PetId" class="form-control" />
                <span asp-validation-for="PetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplyDate" class="control-label"></label>
                <input asp-for="ApplyDate" class="form-control" />
                <span asp-validation-for="ApplyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdoptDate" class="control-label"></label>
                <input asp-for="AdoptDate" class="form-control" />
                <span asp-validation-for="AdoptDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnReason" class="control-label"></label>
                <input asp-for="ReturnReason" class="form-control" />
                <span asp-validation-for="ReturnReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FollowUpDeadline" class="control-label"></label>
                <input asp-for="FollowUpDeadline" class="form-control" />
                <span asp-validation-for="FollowUpDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">取消</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
