@model PawsPort.Models.Faq

@{
    ViewData["Title"] = "FAQ新增項目";
}

<h2 class="font-weight-bold">新增項目</h2>

<h6>※請輸入常見問題項目</h6>

<small class="text-danger ml-2">* 必填 *</small>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionType" class="control-label font-weight-bold">類型<small class="text-danger ml-2">*</small></label>
                <select asp-for="QuestionType" class="form-control">
                    <option value="">-- 請選擇問題類型 --</option>
                    <option value="帳號問題">帳號問題</option>
                    <option value="領養諮詢">領養諮詢</option>
                    <option value="健康護照">健康護照</option>
                    <option value="互動遊戲">互動遊戲</option>
                    <option value="論壇社交">論壇社交</option>
                    <option value="法規規範">法規規範</option>
                    <option value="其他問題">其他問題</option>
                </select>
                <span asp-validation-for="QuestionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question" class="control-label font-weight-bold">問題<small class="text-danger ml-2">*</small></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label font-weight-bold">回答<small class="text-danger ml-2">*</small></label>
                <textarea asp-for="Answer" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label font-weight-bold">備註</label>
                <textarea asp-for="Note" class="form-control" rows="3" placeholder="若沒有，請寫『無』"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="col-md-12 mt-4">
                <div class="d-flex justify-content-between align-items-center">
                    <a asp-action="List" class="btn btn-outline-secondary px-4 font-weight-bold">
                        <i class="fas fa-arrow-left mr-2"></i> 返回常見問題列表
                    </a>
                   
                    <button type="submit"
                            class="btn btn-warning text-dark px-4 font-weight-bold"
                            id="btnSubmit"
                            onclick="return confirm('確定要＂新增＂這筆常見問題嗎？');">
                        <i class="bi bi-check-circle mr-2"></i> 確認新增
                    </button>
                </div>
            </div>
       
        </form>
    </div>
</div>





