html, body {
    overflow: -moz-scrollbars-none; /* 舊版 Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none !important; /* Firefox */
}

    html::-webkit-scrollbar,
    body::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
    }

@media (min-width: 768px) {
    .sidebar {
        width: 17rem !important;
    }
}
