#ListDatatable_wrapper > div:nth-child(1) {
    margin-top:1em;
    margin-bottom: 1em;
}

#ListDatatable_filter > label > input {
    width: 100% !important;
}

#ListDatatable_filter {
    text-align: end !important;
}

    #ListDatatable_filter > label {
        width: 55% !important;
        margin-right:.5em;
    }

#ListDatatable_paginate{
    margin-top:.5em;
}

@media screen and (max-width:768px) {

    #ListDatatable_length {
        text-align: start !important;
    }

    #ListDatatable_filter {
        text-align: start !important;
        margin-left: -1.2em !important;
    }
}
